@page
@model PaymentAPI.Pages.Forms.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PaymentDetail[0].CardOwnerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentDetail[0].CardNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentDetail[0].ExpirationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentDetail[0].SecurityCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PaymentDetail) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CardOwnerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpirationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecurityCode)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PaymentDetailId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PaymentDetailId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PaymentDetailId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
